para iniciar nuestro desafio final tenemos que realizar la instalacion y configuracion
de postgres en python

In [ ]:
#primero instalaremos el conector de python y postgres pero antes debemos
#ir a nuestra consola y actuañizar pip, posteriormente instalar el conector por pip
#para asi importa el modulo psycopg2
#el comando de la consola o terminal es pip install psycopg2-binary
#revisar si tenemos python en nuestras variables de entorno sino no podras instalarlo
#al instalar python te permite dejarlo como path (variable de entorno)
#ya tenermos instalado via pip la libreria, procedemos a importarlo en nuestro cuaderno

In [1]:
import psycopg2

In [2]:
#creamos la conextion segun la documentacion de postgres y python
#como tenemos nuestra bd en localhost le damos los parametros locales
conn = psycopg2.connect(
    dbname="classicmodels",
    user="postgres",
    password="Admin",
    host="localhost" 
)

In [3]:
#con el objeto cursos nos permite conectar y poder crear las consultas
#a nuestra base de datos, tambien esta en la documentacion de postgres y python
cur = conn.cursor()

In [4]:
#para ejecutar o lanzar el cursor usamos el .execute y la "query" 
#esta es ejecutada pero necesitamos ver los datos en nuestro cuaderno y para ero utilizaremos rowsi
cur.execute("SELECT * FROM customers")

In [5]:
#aqui creamos la var rows y ejecutamos el cursos, existen 3 tipos de fecth para ver los datos
#por ejemplo usamos el many que muestra algunos, esta el fetchall y el fecthone
#utilizamos un for para que recorramos los datos y al final el print de donde queda almacenado(row)
rows = cur.fetchmany()
for row in rows:
    print(row)

(103, 'Atelier graphique', 'Schmitt', 'Carine ', '40.32.2555', '54, rue Royale', None, 'Nantes', None, '44000', 'France', 1370.0, 21000.0)

podemos concluir que se hizo la coneccion y que si ejecutamos una query nos muestra los datos
CONTINUAMOS CON NUESRO DESAFIO

El área comercial de una empresa pide realizar un cierre de año de las ventas, tanto para
revisar si las metas fueron cumplidas, como para poder planificar el siguiente año. Para ello,
considerarán los datos del dataset classicmodels.sql para responder algunas preguntas,
realizando las siguientes tareas.
1. Genera una función llamada leer_tabla(tabla, engine) y utilízala para leer tablas
completas desde la base de datos en dataframes independientes. Utilizando esta
función, importa las siguientes tablas:
- order
- orderdetails
- customers
- products
- employees

In [6]:
#tal como nos pide la prueba final, creamos la funcion "leer tabla" junto a una query
#importamos pandas para leer la misma consulta almacenada
import pandas as pd

def leer_tabla(tabla, engine):
    #creamos la query que nos ayudara a leer la tabla, ojo es muy impante dejar {tablas}
    #ya que sera una lista que asignaremos a los nombres de todas las tablas
    #la cual leera
    consulta = f"SELECT * FROM {tabla}"
    
    #leemos la tabla en un dataframe utilizando pd.read_sql() y en el parentesis van 
    #los argumentos de la consulta
    df = pd.read_sql(consulta, engine)
    
    #devolvemos el dataframe
    return df

2. Realiza el cruce entre los DataFrames, asegurándote de utilizar correctamente el
parámetro validate para asegurar la integridad referencial.

In [18]:
from sqlalchemy import create_engine
import pandas as pd

#primero debemos leer las tablas y para eso debemos recorrer la lista de tablas
#en la consulta, le diremos que lea todas las tablas
def leer_tabla(tabla, engine):
    consulta = f"SELECT * FROM {tabla}"
    df = pd.read_sql(consulta, engine)
    return df

#le damos la var de la conexion la cual segun la documentacion
#debemos crearla asi postgresql://usuario:contraseña@localhost:puerto/nombre_de_base_de_datos
cadena_conexion = 'postgresql://postgres:Admin@localhost:5432/classicmodels'

#creamos el objeto engine para crear la conexion
engine = create_engine(cadena_conexion)

#en la lista tablas, ingresamos nuestras tablas de la base de datos del desafio
tablas = ['orders', 'orderdetails', 'customers', 'products', 'employees']

#y para almacenar las tablas creamos el diccionario de los DF 
dataframes = {}

#el resultado de las tablas los recorremos con un for y almacenamos en tabla, indicandole
#que sean ingresados al dataframe(diccionario)
for tabla in tablas:
    dataframes[tabla] = leer_tabla(tabla, engine)

#luego para realizar el cruce debemos verificar la integridad referencial utilizando el metodo Merge
#y los parameteros validad, verificando si las claves de los DF son unicas, sino este nos arrojara
#errores (despues de varios errores) verificamos segun la db como las primary key(en este caso no) 
#pero son los identificadores de las tablas
# Utilizando merge y el parámetro validate
merged_df = pd.merge(dataframes['orders'], dataframes['orderdetails'], on='orderNumber', validate='one_to_many')
merged_df = pd.merge(merged_df, dataframes['customers'], on='customerNumber', validate='many_to_one')
merged_df = pd.merge(merged_df, dataframes['products'], on='productCode', validate='many_to_one')


#y printeamos las cabeceras de las tablas con el head
print(merged_df.head())

   orderNumber   orderDate requiredDate shippedDate   status  \
0        10100  2003-01-06   2003-01-13  2003-01-10  Shipped
1        10379  2005-02-10   2005-02-18  2005-02-11  Shipped
2        10173  2003-11-05   2003-11-15  2003-11-09  Shipped
3        10331  2004-11-17   2004-11-23  2004-11-23  Shipped
4        10110  2003-03-18   2003-03-24  2003-03-20  Shipped

                                            comments  customerNumber  \
0                                               None             363
1                                               None             141
2  Cautious optimism. We have happy customers her...             278
3  Customer requested special shippment. The inst...             486
4                                               None             187

  productCode  quantityOrdered  priceEach  ...  salesRepEmployeeNumber  \
0    S18_1749               30      136.0  ...                  1216.0
1    S18_1749               39      156.4  ...                  1370.0
2    S18_1749               24      168.3  ...                  1401.0
3    S18_1749               44      154.7  ...                  1323.0
4    S18_1749               42      153.0  ...                  1501.0

  creditLimit               productName   productLine productScale  \
0    114200.0  1917 Grand Touring Sedan  Vintage Cars         1:18
1    227600.0  1917 Grand Touring Sedan  Vintage Cars         1:18
2    119600.0  1917 Grand Touring Sedan  Vintage Cars         1:18
3     72600.0  1917 Grand Touring Sedan  Vintage Cars         1:18
4    136800.0  1917 Grand Touring Sedan  Vintage Cars         1:18

               productVendor  \
0  Welly Diecast Productions
1  Welly Diecast Productions
2  Welly Diecast Productions
3  Welly Diecast Productions
4  Welly Diecast Productions

                                  productDescription quantityInStock buyPrice  \
0  This 1:18 scale replica of the 1917 Grand Tour...            2724     86.7
1  This 1:18 scale replica of the 1917 Grand Tour...            2724     86.7
2  This 1:18 scale replica of the 1917 Grand Tour...            2724     86.7
3  This 1:18 scale replica of the 1917 Grand Tour...            2724     86.7
4  This 1:18 scale replica of the 1917 Grand Tour...            2724     86.7

    MSRP
0  170.0
1  170.0
2  170.0
3  170.0
4  170.0

[5 rows x 31 columns]

3. Agrega las siguientes columnas, considerando su nombre y la fórmula asociada
- venta: quantityOrdered*priceEach
- costo: quantityOrdered*buyPrice
- ganancia: considerando las columnas anteriores

In [19]:
#agregamos la columna venta (venta = quantityOrdered * priceEach)
merged_df['venta'] = merged_df['quantityOrdered'] * merged_df['priceEach']
#Agregamos la columna costo (costo = quantityOrdered * buyPrice)
merged_df['costo'] = merged_df['quantityOrdered'] * merged_df['buyPrice']
#Agregamos la columna ganancia (ganancia = venta - costo)
merged_df['ganancia'] = merged_df['venta'] - merged_df['costo']
#printeamos las 5 primeras filas
print(merged_df.head())

   orderNumber   orderDate requiredDate shippedDate   status  \
0        10100  2003-01-06   2003-01-13  2003-01-10  Shipped
1        10379  2005-02-10   2005-02-18  2005-02-11  Shipped
2        10173  2003-11-05   2003-11-15  2003-11-09  Shipped
3        10331  2004-11-17   2004-11-23  2004-11-23  Shipped
4        10110  2003-03-18   2003-03-24  2003-03-20  Shipped

                                            comments  customerNumber  \
0                                               None             363
1                                               None             141
2  Cautious optimism. We have happy customers her...             278
3  Customer requested special shippment. The inst...             486
4                                               None             187

  productCode  quantityOrdered  priceEach  ...   productLine productScale  \
0    S18_1749               30      136.0  ...  Vintage Cars         1:18
1    S18_1749               39      156.4  ...  Vintage Cars         1:18
2    S18_1749               24      168.3  ...  Vintage Cars         1:18
3    S18_1749               44      154.7  ...  Vintage Cars         1:18
4    S18_1749               42      153.0  ...  Vintage Cars         1:18

               productVendor  \
0  Welly Diecast Productions
1  Welly Diecast Productions
2  Welly Diecast Productions
3  Welly Diecast Productions
4  Welly Diecast Productions

                                  productDescription quantityInStock buyPrice  \
0  This 1:18 scale replica of the 1917 Grand Tour...            2724     86.7
1  This 1:18 scale replica of the 1917 Grand Tour...            2724     86.7
2  This 1:18 scale replica of the 1917 Grand Tour...            2724     86.7
3  This 1:18 scale replica of the 1917 Grand Tour...            2724     86.7
4  This 1:18 scale replica of the 1917 Grand Tour...            2724     86.7

    MSRP   venta   costo ganancia
0  170.0  4080.0  2601.0   1479.0
1  170.0  6099.6  3381.3   2718.3
2  170.0  4039.2  2080.8   1958.4
3  170.0  6806.8  3814.8   2992.0
4  170.0  6426.0  3641.4   2784.6

[5 rows x 34 columns]

4. ¿Cuál fue el total de ventas por línea de productos? Incluye una fila de totales.

In [26]:
#calculamos el dotal de ventas por producto
ventas_por_producto = merged_df.groupby('productCode')['venta'].sum().reset_index()

#calculamos el total de las ventas de productos
total_ventas = ventas_por_producto['venta'].sum()

#ahora creamos la fila de totales
total_fila = {'productCode': 'Total', 'venta': total_ventas}

#pasamos la fila a un df
total_df = pd.DataFrame([total_fila])

#unimos el df de total al df de las ventas por producto
ventas_por_producto = pd.concat([ventas_por_producto, total_df], ignore_index=True)

#y printeamos el resultado
print(ventas_por_producto)

    productCode       venta
0      S10_1678    90157.77
1      S10_1949   190017.96
2      S10_2016   109998.82
3      S10_4698   170686.00
4      S10_4757   127924.32
..          ...         ...
105   S700_3962    78919.06
106   S700_4002    71753.93
107    S72_1253    42692.53
108    S72_3212    47550.40
109       Total  9604190.61

[110 rows x 2 columns]

5. ¿Cuántos clientes distintos hicieron compras?

In [27]:
#nos vamos a la tabla custormesnumber y calculamos quienes hicieron compras
clientes_distintos = merged_df['customerNumber'].nunique()
#printeamos el resultado
print("La cantidad de clientes distintos que hicieron compras es:", clientes_distintos)

La cantidad de clientes distintos que hicieron compras es: 98

¿Existen clientes que aún no han hecho ninguna compra? ¿Cuántos son?

In [28]:
#listamos los clientes
todos_los_clientes = merged_df['customerNumber'].unique()
#revisamos quienes si hicieron compras
clientes_con_compras = merged_df['customerNumber'].unique()
#buscamos los que no
clientes_sin_compras = set(todos_los_clientes)-set(clientes_con_compras)
#con len calculamos la cantidad que no compraron segun el resultado de arriba
cantidad_clientes_sin_compras = len(clientes_sin_compras)
#printeamos el resultado
print("Cantidad de clientes que aún no han realizado ninguna compra:", cantidad_clientes_sin_compras)
#segun esto deberia dar 0 ya que de igual forma consulte la bd"

Cantidad de clientes que aún no han realizado ninguna compra: 0

7. Se solicita la creación de dos reportes, que respondan las preguntas dadas
● ¿Cuáles fueron los 10 clientes que reportan mayores ventas brutas en dinero durante
el año 2005? Genera un DataFrame y guárdalo en una tabla de Postgre llamada
top_10_clientes_2005, en la que se especifique el nombre del cliente y su
correspondiente venta, costo y ganancia.
● ¿Cuál fue el top 10 de artículos más vendidos durante el año 2005 (considerando
cantidad neta)? Genera un DataFrame y guárdalo en una tabla de Postgre llamada
top_10_productos_2005, en la que se especifique el nombre del producto y su
correspondiente venta, costo y ganancia

In [34]:
#top 10 clientes con maores ventas brutas
#primero revisaremos los datos del 2005 y creamos la var
ventas_2005 = merged_df[merged_df['orderDate'].dt.year == 2005]
#calculamos las ventas brutas de los clientes y los agrupamos
ventas_por_cliente = ventas_2005.groupby('customerName')[['venta', 'costo', 'ganancia']].sum().reset_index()

#ordenaremos en orden descendente 
top_10_clientes = ventas_por_cliente.nlargest(10, 'venta')
#y lo almacenamos como una vista en postgres y un df en python
top_10_clientes.to_sql('top_10_clientes_2005', engine, index=False, if_exists='replace')

10

In [35]:
#recordemos que ya creamos la tabla arriba, ahora solo queda consultar
sql_query = "SELECT * FROM top_10_clientes_2005"

#ejecutamos la query y la almacenamos en el df
df = pd.read_sql_query(sql_query, conn)

#printeamos el dataframe de los nombres
print(df)

                   customerName      venta      costo   ganancia
0        Euro+ Shopping Channel  290018.52  169989.97  120028.55
1  Mini Gifts Distributors Ltd.  192481.73  115084.72   77397.01
2             La Rochelle Gifts   91147.11   55527.04   35620.07
3     The Sharp Gifts Warehouse   83984.89   50843.02   33141.87
4    Down Under Souveniers, Inc   75020.13   46389.52   28630.61
5       Anna's Decorations, Ltd   56932.30   35414.90   21517.40
6         Salzburg Collectables   52420.07   33536.26   18883.81
7             Gifts4AllAges.com   50806.85   33221.25   17585.60
8      Corporate Gift Ideas Co.   46781.66   28561.31   18220.35
9       Oulu Toy Supplies, Inc.   46770.52   27493.61   19276.91

C:\Users\FpymeTarapaca\AppData\Local\Temp\ipykernel_14952\388440641.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

In [37]:
import pandas as pd
from sqlalchemy import create_engine

#nuevamente creamos la conexion con la bd
cadena_conexion = 'postgresql://postgres:Admin@localhost:5432/classicmodels'
engine = create_engine(cadena_conexion)

#filtraremos los datos de venta del año 2005
ventas_2005 = merged_df[merged_df['orderDate'].dt.year == 2005]

#con los mismos paratemos dee venta, costo, ganancia y cantidad hacemos el calculo
productos_2005 = ventas_2005.groupby('productName').agg(
    venta=('venta', 'sum'),
    costo=('costo', 'sum'),
    ganancia=('ganancia', 'sum'),
    cantidad_neta=('quantityOrdered', 'sum')
).reset_index()

#revisamos la cantidad neta de los 10 productos(ojo los primeros)
top_10_productos = productos_2005.nlargest(10, 'cantidad_neta')

#nuevamente creamos una tabla de los top 10 productos del 2004
top_10_productos.to_sql('top_10_productos_2005', engine, index=False, if_exists='replace')

#y nos printeamos si lo ha hecho( ya que varias veces me daba error agregue este print)
print("Tabla 'top_10_productos_2005' guardada en la base de datos.")

Tabla 'top_10_productos_2005' guardada en la base de datos.

In [38]:
#vamos a ver la tabla y sus productos
df_top_10_productos_2005 = pd.read_sql_table('top_10_productos_2005', engine)

#printeamos el df
print(df_top_10_productos_2005)

                               productName     venta     costo  ganancia  \
0              1992 Ferrari 360 Spider red  52978.28  27031.30  25946.98
1                       1969 Dodge Charger  29567.27  15974.56  13592.71
2                        1997 BMW R 1100 S  28747.69  16493.06  12254.63
3                         1997 BMW F650 ST  22469.91  17198.44   5271.47
4                  1956 Porsche 356A Coupe  31432.14  25066.50   6365.64
5                 1960 BSA Gold Star DBD34  16049.47   9031.44   7018.03
6                  1900s Vintage Tri-Plane  15940.74   8622.74   7318.00
7                         2002 Suzuki XREO  30434.09  15308.37  15125.72
8                    1996 Moto Guzzi 1100i  26139.34  15867.70  10271.64
9  1941 Chevrolet Special Deluxe Cabriolet  20918.96  14595.08   6323.88

   cantidad_neta
0            347
1            272
2            271
3            257
4            255
5            242
6            238
7            231
8            230
9            226

Para este punto debes aplicar el principio DRY, por lo que se deben utilizar funciones para
realizar el filtrado por fechas, generar tablas pivote y escribir tabla en Postgre. Las funciones
deben estar en un archivo separado llamado funciones.py y ser importadas al Jupyter
Notebook. En este archivo se debe incluir:
● Una función que permita filtrar un DataFrame por fechas, indicando dataframe,
columna para filtrar, fecha inicio y fecha fin. La función debe retornar un DataFrame.
● Una función que permita generar reportes dependiendo de parámetros de entrada
como dataframe, filas, columnas, valores y medida (funcion_agrupadora). Utilizar
fill_value = 0. Esta función debe retornar un DataFrame pivotado.
● Una función que permita escribir en la base de datos a través del guardado de un
DataFrame dependiendo de parámetros de entrada como DataFrame, nombre de la
tabla, engine y comportamiento en caso de que exista la tabla (if_exists).

esta funcion esta guardada en otro archivo como funciones.py
la idea es reutilizar esta fucncion para consultar las fechas y generar el reporte, ademas
despues de consultar y hacer la tabla pivot del df.

import pandas as pc
def filtrar_por_fechas(dataframe, columna_fecha, fecha_inicio, fecha_fin):
    return dataframe[(dataframe[columna_fecha] >= fecha_inicio) & (dataframe[columna_fecha] <= fecha_fin)]
    
    esta funcion toma un Df, el nombre de la columna que contiene las fechas, asi como una fecha de inicio y una fecha de fin como argumentos, filtra el df para incluir solo las filas que tienen fechas dentro del rango especificado (fecha_inicio <= columna <= fecha_fin) y devuelve el DF resultante

def generar_reporte_pivot(dataframe, filas, columnas, valores, funcion_agrupadora):
    pivote = pd.pivot_table(dataframe, index=filas, columns=columnas, values=valores, aggfunc=funcion_agrupadora, fill_value=0)
    return pivote

    esta funcion realiza una operación de pivote en el df proporcionado yoma como entrada el df, las columnas que se usaran como filas en la tabla pivotada, las columnas que se utilizaran como columnas en la tabla pivotada, las columnas cuyos valores se utilizarán en la tabla pivotada y una funcion de agregación (por ejemplo, suma, promedio) devuelve un nuevo DataFrame pivotadop
    
def escribir_en_postgres(dataframe, nombre_tabla, engine, if_exists):
    dataframe.to_sql(nombre_tabla, engine, if_exists=if_exists, index=False)
    
    esta funcion toma un df el nombre de la tabla en la base de datos postgreql donde se escribirán los datos,un argumento if_exists que indica qué hacer si la tabla ya existe en la base de datos que reemplaza los nuevos datos  La función escribe los datos del df en la tabla especificada en la base de datos postgresql.

In [4]:
from funciones import filtrar_por_fechas, generar_reporte_pivot, escribir_en_postgres

In [5]:
# Ejemplo de uso de las funciones
df_filtrado = filtrar_por_fechas(dataframe, 'fecha', '2022-01-01', '2022-12-31')

reporte_pivot = generar_reporte_pivot(df_filtrado, ['cliente'], ['producto'], 'cantidad', sum)

escribir_en_postgres(reporte_pivot, 'reporte_ventas', engine, if_exists='replace')

NameError: name 'dataframe' is not defined

bueno no pude comprobar usando e importando las funciones, nose por que el df me sale como no definito siendo que esta en funciones py con pandas