# 1. Para desarrollar este desafío necesitarás el archivo
resumen_resultados_astronautas.csv
● El IMC es una medida importante que nos ayuda a determinar si una persona
tiene un peso saludable para poder ser un astronauta. Para calcularlo se utiliza la
fórmula
IMC = m / h*h
Donde m corresponde al peso del astronauta en kilogramos, y h su estatura en metros
El rendimiento en las diferentes evaluaciones permitirá también aceptar o rechazar a los
postulantes. Para ello:
1. Crea un DataFrame con el archivo entregado.
2. Crea la columna "IMC" usando la fórmula entregada.
3. Crea la columna "promedio_evaluaciones" con el promedio de las 4 columnas
de evaluaciones. Si el IMC está entre 18.5 y 24.9, entonces el candidato
tendrá un IMC adecuado para ser astronauta. Filtra el DataFrame para
obtener solo aquellas filas donde el IMC esté dentro de los límites
entregados.
4. El promedio de las 4 evaluaciones debe ser mayor o igual a 87. Filtra el
DataFrame resultante y agrega esta condición al filtro aplicado en el paso
anterior.
5. Reinicia el índice del DataFrame resultante.
6. Modifica el valor de la columna "califica", para que diga "Si" en todas las filas del
DataFrame resultante.
7. Exporta el DataFrame resultante a un archivo .csv separado por comas con el
nombre "astronautas_calificados.csv".

In [1]:
#para este desafio primero importaremos pandas
import pandas as pd

In [2]:
#ahora cargamos el documento donde tenemos los datos
df = pd.read_excel("resumen_resultados_astronautas.xlsx")
display(df)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No
6,María Juderías,28,78,182,88,85,87,92,5,Si
7,Perla Alcocer,30,71,168,86,92,82,88,3,No
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si
9,María José Franco,29,70,175,87,90,80,89,2,No
10,Emanuel Gálvez,27,73,181,84,89,84,87,3,Si
11,Alberto Graciani,28,62,163,81,93,77,85,5,No
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No
14,Pablo Cotilla,27,75,178,86,87,85,89,2,Si
15,Pablo Capmany,29,69,171,82,94,80,88,4,No
16,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No
17,Daniel Sánchez,26,63,167,80,93,78,85,4,No
18,Samuel Gálvez,22,74,183,91,91,91,86,3,Si
19,José París,40,68,163,78,85,85,77,8,No
20,Kevin Pareja,27,61,177,85,90,87,79,2,Si
21,Estefania Manzanares,31,79,179,89,82,85,81,5,Si
22,Óliver Fonseca,38,80,164,77,88,90,89,9,No
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si
24,Álvaro Espina,30,76,180,90,84,87,82,4,Si
25,Leonardo Magrina,39,65,171,79,92,90,85,8,No
26,Fernando Gálvez,25,72,168,88,88,89,83,2,Si
27,Sophie González,36,75,176,85,82,84,80,7,No
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si
29,Fátima Varela,33,73,182,91,90,91,88,5,Si
30,Clara Arias,44,63,162,77,87,88,84,11,No
31,Paloma Berganza,28,62,174,87,85,87,78,3,Si

In [3]:
#necesitamos crear la fornula para calcular el IMC (imc=peso dividido por estatura al cuadrado
df['IMC'] = df['peso'] / ((df['altura'] / 100) ** 2)
display(df)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.148148
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si,24.382373
2,Sofía Puig,29,80,185,85,80,90,91,3,Si,23.374726
3,Valentina Tasis,30,65,175,90,91,85,92,2,No,21.224490
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.694019
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No,22.145329
6,María Juderías,28,78,182,88,85,87,92,5,Si,23.547881
7,Perla Alcocer,30,71,168,86,92,82,88,3,No,25.155896
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.785876
9,María José Franco,29,70,175,87,90,80,89,2,No,22.857143
10,Emanuel Gálvez,27,73,181,84,89,84,87,3,Si,22.282592
11,Alberto Graciani,28,62,163,81,93,77,85,5,No,23.335466
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.437673
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No,23.781213
14,Pablo Cotilla,27,75,178,86,87,85,89,2,Si,23.671254
15,Pablo Capmany,29,69,171,82,94,80,88,4,No,23.597004
16,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No,22.204082
17,Daniel Sánchez,26,63,167,80,93,78,85,4,No,22.589551
18,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.096808
19,José París,40,68,163,78,85,85,77,8,No,25.593737
20,Kevin Pareja,27,61,177,85,90,87,79,2,Si,19.470778
21,Estefania Manzanares,31,79,179,89,82,85,81,5,Si,24.655910
22,Óliver Fonseca,38,80,164,77,88,90,89,9,No,29.744200
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.388687
24,Álvaro Espina,30,76,180,90,84,87,82,4,Si,23.456790
25,Leonardo Magrina,39,65,171,79,92,90,85,8,No,22.229062
26,Fernando Gálvez,25,72,168,88,88,89,83,2,Si,25.510204
27,Sophie González,36,75,176,85,82,84,80,7,No,24.212293
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.158818
29,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.038401
30,Clara Arias,44,63,162,77,87,88,84,11,No,24.005487
31,Paloma Berganza,28,62,174,87,85,87,78,3,Si,20.478267

In [4]:
#nos piden tener un filtro de IMC entre 18.5 y 24.9 asi que lo creamos
df = df[(df['IMC'] >= 18.5) & (df['IMC'] <= 24.9)]
display(df)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.148148
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si,24.382373
2,Sofía Puig,29,80,185,85,80,90,91,3,Si,23.374726
3,Valentina Tasis,30,65,175,90,91,85,92,2,No,21.224490
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.694019
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No,22.145329
6,María Juderías,28,78,182,88,85,87,92,5,Si,23.547881
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.785876
9,María José Franco,29,70,175,87,90,80,89,2,No,22.857143
10,Emanuel Gálvez,27,73,181,84,89,84,87,3,Si,22.282592
11,Alberto Graciani,28,62,163,81,93,77,85,5,No,23.335466
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.437673
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No,23.781213
14,Pablo Cotilla,27,75,178,86,87,85,89,2,Si,23.671254
15,Pablo Capmany,29,69,171,82,94,80,88,4,No,23.597004
16,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No,22.204082
17,Daniel Sánchez,26,63,167,80,93,78,85,4,No,22.589551
18,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.096808
20,Kevin Pareja,27,61,177,85,90,87,79,2,Si,19.470778
21,Estefania Manzanares,31,79,179,89,82,85,81,5,Si,24.655910
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.388687
24,Álvaro Espina,30,76,180,90,84,87,82,4,Si,23.456790
25,Leonardo Magrina,39,65,171,79,92,90,85,8,No,22.229062
27,Sophie González,36,75,176,85,82,84,80,7,No,24.212293
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.158818
29,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.038401
30,Clara Arias,44,63,162,77,87,88,84,11,No,24.005487
31,Paloma Berganza,28,62,174,87,85,87,78,3,Si,20.478267

In [6]:
# Paso 3: Calcular el promedio de las evaluaciones y crear la columna "promedio_evaluaciones"
df['promedio_evaluaciones'] = (df['evaluacion_fisica']+df['evaluacion_psicologica']+df['evaluacion_adaptativa']+df['evaluacion_medica'])/4

# Paso 4: Filtrar por promedio de evaluaciones mayor o igual a 87
df = df[df['promedio_evaluaciones'] >= 87]

In [7]:
#reiniciamos el dataframe resultante
df = df.reset_index(drop=True)
display(df)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.148148,87.00
1,Valentina Tasis,30,65,175,90,91,85,92,2,No,21.224490,89.50
2,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.694019,87.25
3,María Juderías,28,78,182,88,85,87,92,5,Si,23.547881,88.00
4,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.785876,89.75
5,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.437673,89.50
6,Cristóbal Miralles,31,72,174,88,91,86,92,6,No,23.781213,89.25
7,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No,22.204082,87.25
8,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.096808,89.75
9,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.388687,90.50
10,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.158818,91.50
11,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.038401,90.00

In [8]:
#modificamos la columna 'califica' para que diga 'Si'
df['califica'] = 'Si'
display(df)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.148148,87.00
1,Valentina Tasis,30,65,175,90,91,85,92,2,Si,21.224490,89.50
2,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.694019,87.25
3,María Juderías,28,78,182,88,85,87,92,5,Si,23.547881,88.00
4,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.785876,89.75
5,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.437673,89.50
6,Cristóbal Miralles,31,72,174,88,91,86,92,6,Si,23.781213,89.25
7,Nicolás Cambeiro,29,68,175,88,90,81,90,2,Si,22.204082,87.25
8,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.096808,89.75
9,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.388687,90.50
10,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.158818,91.50
11,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.038401,90.00

In [9]:
# y para finalizar exportamos el DataFrame resultante a un archivo CSV
df.to_excel("astronautas_calificados.xlsx", index=False)
display(df)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.148148,87.00
1,Valentina Tasis,30,65,175,90,91,85,92,2,Si,21.224490,89.50
2,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.694019,87.25
3,María Juderías,28,78,182,88,85,87,92,5,Si,23.547881,88.00
4,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.785876,89.75
5,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.437673,89.50
6,Cristóbal Miralles,31,72,174,88,91,86,92,6,Si,23.781213,89.25
7,Nicolás Cambeiro,29,68,175,88,90,81,90,2,Si,22.204082,87.25
8,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.096808,89.75
9,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.388687,90.50
10,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.158818,91.50
11,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.038401,90.00